@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Component Examples */
@layer components {
  .btn {
    @apply inline-block px-6 py-2 rounded-lg bg-blue-600 text-white hover:bg-blue-700 transition duration-300;
  }
}
